
/*global start*/
body{
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    margin: 0px;
}


.Button{
    text-decoration: none;
    color: white;
    font-weight:700px;
    background-image:linear-gradient( to right, rgb(255, 136, 0), orangered);
    padding: 20px 40px;
    border-radius: 50px;
}

h1{
    font-size: 50px; 
    color:rgb(99, 98, 98)
}


p{
   padding-bottom: 60px; 
   color:rgb(54, 54, 54);
   
}

/*global endh1{
    font-size: 40px; 
    color:rgb(51, 51, 51);


}*/





/*Hero section start*/


.hero .container .left_side p{
    color:rgb(136, 135, 135);
    padding-right:200px;
    font-size: 18px;
    padding-bottom: 30px;
}

#orange_color{
    color: rgb(253, 167, 62);
}

.hero .container{
    display: flex;
    margin-top: 80px;
    margin-left: 200px;
    margin-right:100px;  

}
.left_side{
    width:50%;
    padding-top: 100px;
    padding-right:2%;
    
}

.right_side{
    width:50%;
    
}


/*Hero section End*/





/*About me section start*/
.about_me{
    margin-top: 50px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;

}

.about_me .container{
    display:flex;
}

.left_side2{
    width:55%;

}

.right_side2{
    width:25%;
    padding-top:100px;
    color: rgb(68, 67, 67);
    
}

.about_me .container .left_side2 img{
    height:500px;
    width: 400 px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 75px;
}
.title{
    font-weight: bolder;
}
/*About me section end*/





/*Recipies Section Start*/
.recipies{
    text-align:center;
    margin-left:400px;
    margin-right:400px;
}

/*Recipies Section End*/






/*Recipie2 Section Start*/
.recipie_title{
    display:flex;
    margin-left: 200px;
    margin-right:200px;
}

.recipie_img{
    height: 200px;
    weight:300px;

    padding-bottom:20px;

}

.recipie_items{
    width:60%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top:20px;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom:0px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}



/*Recipie2 Section End*/









